@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #f2f0ed;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  /* background: red; */
}

/* input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffde9e;
  cursor: pointer;
}
input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-ms-track {
  color: #ffde9e;

  width: 100%;
  cursor: pointer;

  background: #ffde9e;
  border-color: transparent;
  color: transparent;
} */

input[type="range"] {
  box-sizing: content-box;
  -webkit-appearance: none;
  height: 4px;
  background: #ffde9e;
  border-radius: 2px;
  background-image: linear-gradient(#d44c46, #d44c46);
  background-repeat: no-repeat;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffe0cc;
  box-shadow: 0px 2px 6px rgba(149, 126, 125, 0.32);
  border: 5px solid #d44c46;
  margin-top: -17px;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 11px;
  width: 11px;
  border-radius: 50%;
  background: #f43397;
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 11px;
  width: 11px;
  border-radius: 50%;
  background: #d44c46;
}

.range__list {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 2fr 25px;
}
.range__opt {
  position: relative;
  flex-grow: 1;
}
.range__opt:before {
  content: "";
  position: absolute;
  top: -13px;
  left: 10px;
  width: 10px;
  height: 10px;
  background-color: #d44c46;
  border-radius: 50%;
  display: block;
  text-indent: 0;
}
.range__opt:nth-child(1):before {
  left: 5px;
}
.range__opt:nth-child(2):before {
  left: 7px;
}
.range__opt:nth-child(3):before {
  left: 8px;
}
